// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#messages {
    height: 400px;
    overflow-y: scroll;
}

.mutedMessage {
    color: gray;
    font-size: 12px;
    text-align: center;
}

.navbar-brand svg {
    height: 60px;
    width: auto;
    fill: #0277bd !important;
}

.hero_background {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#258dc8+0,77abc6+100 */
background: #258dc8; /* Old browsers */
background: -moz-linear-gradient(35deg,  #03A9F4 0%, #81d4fa 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #03A9F4 0%,#81d4fa 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #03A9F4 0%,#81d4fa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}
